@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

.room-page-title {
  font-family: "Source Sans Pro", sans-serif;
  color: #43425d;
  font-weight: bold;
}

.room-page-amenity {
  width: 35px;
  height: 35px;
}

.room-page-image {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
