@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap");

#content-container {
  background: #f0f0f7;
}

.global-font {
  font-family: "Source Sans Pro", sans-serif;
}

.title-color {
  color: #43425d;
}

.primary-btn {
  background-color: #43425d;
  color: white;
}

.primary-btn:hover {
  background-color: #63628a;
  color: white;
}

.checkbox-with-accent
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #43425d;
  border: 0;
}
