.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

#avatar-img {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}